#outer {
  width : 100%;
  height : 100%;
  background-color: dimgray;
  overflow: hidden;
}

#display-outer {
  width : 100%;
  height : 50%;
}

#input-outer {
  width : 100%;
  height : 50%;
}

#display-spacing {
  box-sizing: border-box;
  width : 100%;
  height : 100%;
  padding : 10px;
  /* padding-bottom: 0; */
}

#input-spacing {
  width : 100%;
  height : 100%;
  padding: 10px;
  /* padding-top: 2px; */
  box-sizing: border-box;
}

#display {
  display:flex;
  width : 100%;
  height : 100%;
  background-color : aqua;
}

#input {
  display:flex;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

/* #under {
  width: 100%;
  height: 2%;
  background-color: goldenrod;
} */

.inlineCorrect {
  background: rgba(0, 255, 115, 0.5);
}

.inlineFalse {
  background: rgba(205, 92, 92, 0.5);
}